#!/usr/bin/env python3
'''
This is basic python template
'''
def main():
    pass


if __name__ == '__main__':
    try:
        main()
    except KeyboardInterrupt:
        print ("Interrupted")
        sys.exit(0)
